#base {
    width: 1920px;
    height: 1440px;
}

#hitbox {
    position: absolute;
    z-index: 100;
}

.level {
    background-size: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.level-base {
    background-image: url("../images/Fond1.png");
}

.level-green {
    background-image: url("../images/Fond2.png");
}

.level-black {
    background-image: url("../images/FondNoir.png");
}